*{
    padding: 0;
    margin: 0;
}
.itemsLi{
    border: 0.5px solid black;
}
.items {
    display: block;
    margin: 0;
    padding: 0;
    padding-bottom: 5%;
}
.item{
    list-style-type: none;
    margin-left: 0px;
    font-size:12px;
    /* border-bottom: 1px solid lightsalmon;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%; */
}
.category{
    list-style-type: none;
    margin-left: 0px;
    border-bottom: 1px solid lightsalmon;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
}
.icon{
    width: 10px;
    height: 10px;
    padding-right: 2px;
}
.dropDownIcon{
    width: 20px;
    height: 20px;
    padding-right:5px;
    float: right;
    padding-top: 3px;
}
.itemInfo{
    display: none;
}
.main-container{
    padding-left: 2px;
    width: 400px;
    background-color: peachpuff;
    border: 2px solid teal;
}
.heading-text{
    font-weight: 400;
    text-align: center;
    text-shadow: 1px 1px 2px teal;
}
.button{
    color:white;
    background-color: rgb(0, 0, 96);
    border: none;
    border-radius: 10px;
    width: 75px;
    height: 33px;
    padding: 2px 5px 2px 5px;
    margin-bottom: 5px;
}
.button:hover{
    cursor: pointer;
    background-color: rgb(83, 83, 141);
}